<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Unanimous prediction for 100\% precision with application to learning semantic mappings.
			</span><br />
			<span class="authors">
				Fereshte Khani, Martin Rinard, and Percy Liang.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1606.06368</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
